@model CreateProjectViewModel

<div class="container">
    <div class="row">
        <form method="post" style="width: 100%">
            @if (Model.StudentId == 0)
            {
                <div class="form-group">
                    <label asp-for="StudentId" class="col-form-label"></label>
                    <div>
                        <input asp-for="StudentId" class="form-control" />
                        <span asp-validation-for="StudentId"></span>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="StudentId" class="col-form-label"></label>
                    <div>
                        <input asp-for="StudentId" disabled class="form-control" />
                        <span asp-validation-for="StudentId"></span>
                    </div>
                </div>
            }

            <div class="form-group">
                <label asp-for="Title"></label>
                <div>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Description"></label>
                <div>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="GitUrl"></label>
                <div>
                    <input asp-for="GitUrl" class="form-control" />
                    <span asp-validation-for="GitUrl"></span>
                </div>
            </div>

            <div class="form-group row">
                <button type="submit" class="btn btn-primary">Add</button>
                <a asp-action="Index" class="btn btn-default border ml-4">Cancel</a>
            </div>
        </form>
    </div>
</div>


