@model Project

<div class="card">
    <div class="card-header">
        @Model.Title Details
    </div>
    <div class="card-body">
        <p>Git Url: <a href="#">@Model.GitUrl</a></p>
        <br />
        <p class="text-align-justify">@Model.Description</p>
    </div>
</div>