@model IEnumerable<PaymentDetails>
@inject IEmployeeRepository _empRepository

@{
    ViewBag.Title = "Projects List";
}


<div class="card mb-4" style="width: 100%;">
    <div class="card-header bg-primary ">
        All Projects
    </div>
    <div class="card-body text-center">

        <div class="text-right p3 mb-3 p-auto">
            <a asp-controller="paymentdetails" asp-action="create" class=" btn btn-primary" style="width: auto">Add Payment Detail</a>
        </div>

        <div class="row">
            <div class="table-responsive-sm col-md-12">
                <table id="example" class="table table-striped table-hover" style="width: 100%">
                    <thead>
                        <tr>
                            <th>Project Name</th>
                            <th>Git Url</th>
                            <th>Date</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                </table>
                `
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        exampleLoad("/project/getall/", ["title", "gitUrl", , , "projectId"], "project");
    </script>
}
