@model Payment

<div class="container">
    <div class="row">
        <form method="post" style="width: 100%">
            <div class="form-group">
                <label asp-for="StudentId" class="col-form-label"></label>
                <div>
                    <input asp-for="StudentId" class="form-control" />
                    <span asp-validation-for="StudentId"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Total"></label>
                <div>
                    <input asp-for="Total" class="form-control"/>
                    <span asp-validation-for="Total"></span>
                </div>
            </div>

            <div class="form-group row">
                <button type="submit" class="btn btn-primary">Add</button>
                <a asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>

