@model CreateEmploymentViewModel

<div class="container">
    <div class="row">
        <form method="post" style="width: 100%">
            <div class="form-group">
                <label asp-for="CompanyId" class="col-form-label"></label>
                <div>
                    <input asp-for="CompanyId" class="form-control" />
                    <span asp-validation-for="CompanyId"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="StudentId"></label>
                <div>
                    <input asp-for="StudentId" class="form-control" />
                    <span asp-validation-for="StudentId"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="StartDate"></label>
                <div>
                    <input asp-for="StartDate" class="form-control" />
                    <span asp-validation-for="StartDate"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="EndDate"></label>
                <div>
                    <input asp-for="EndDate" class="form-control" />
                    <span asp-validation-for="EndDate"></span>
                </div>
            </div>

            <div class="form-group row">
                <button type="submit" class="btn btn-primary">Create</button>
                <a asp-action="Index" class="btn btn-default border ml-4">Cancel</a>
            </div>
        </form>
    </div>
</div>

